<div class="pt-md-4 pt-lg-5">
    <div class="container py-5 theme-bg-light rounded">
        <div class="section-col-max mx-auto">
            <h3 class="section-title mb-4">{{ site.data.calendar.title }}</h3>
            <div class="d-flex flex-wrap">
                    {% for item in site.data.calendar.days %}
                    <div class="p-3 d-flex justify-content-center align-items-center">
                        {{ item }}
                    </div>
                    {% endfor %}
            </div> 
        </div>
        <!--//section-col-max-->
    </div>
    <!--//container-->
</div>
<!--//section-overview-->