<div class="pt-md-4 pt-lg-5">
    <div class="container py-5 theme-bg-light rounded">
        <div class="section-col-max mx-auto">
            <h3 class="section-title mb-4">{{ site.data.calendar.title }}</h3>
            <ul class="section-nav nav list-inline">
                <li class="nav-item">
                    Mehr
                </li>
                <li class="nav-item">
                  Aban
              </li>
              <li class="nav-item">
                Azar
            </li>
            </ul>
            <!-- <div class="d-flex flex-wrap">
                    {% for item in site.data.calendar.days %}
                    <div class="p-3 d-flex justify-content-center align-items-center">
                        {{ item }}
                    </div>
                    {% endfor %}
            </div>  -->
            <div>
              <p class="">mehr</p>
              <p class="d-none">aban</p>
              <p class="d-none">azar</p>
            </div>
            {% if 2 == 2 %}
                <p>true</p>
            {% endif %}
           
        </div>
        <!--//section-col-max-->
    </div>
    <!--//container-->
</div>
<!--//section-overview-->