<div class="pt-md-4 pt-lg-5">
    <div class="container py-5 theme-bg-light rounded">
        <div class="section-col-max mx-auto">
            <h3 class="section-title mb-4">{{ site.data.calendar.title }}</h3>
            <ul class="section-nav nav list-inline gap-3">
                {% for month in site.data.calendar.months%}
                    <li>
                        {{ month.title }}
                    </li>
                {% endfor %}
            </ul>
            {% for month in site.data.calendar.months %}
            <h3>{{month.title}}</h3>
            <div class="d-flex flex-wrap">
                    {% for item in month.days %}
                    <div class="p-3 d-flex justify-content-center align-items-center">
                        {{ item }}
                    </div>
                    {% endfor %}
            </div> 
            {% endfor %}
            
           
        </div>
        <!--//section-col-max-->
    </div>
    <!--//container-->
</div>
<!--//section-overview-->