<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NS98R74QMQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NS98R74QMQ');
    </script>


    

    <title>{{site.title | scape}} | {{site.description | scape}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.authors }}">

    <link rel="shortcut icon" type="image/png" href="sharif1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Roboto:400,500,700&display=swap"
        rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Custom Font -->
    <link rel="stylesheet" type="text/css" href="assets/customfont/customfont.css" />

    <!-- Bootsrtap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
    <link id="theme-style" rel="stylesheet" href="assets/css/education.css">
    <link id="theme-style" rel="stylesheet" href="assets/css/calendar.css">

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="assets/plugins/back-to-top.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<body>

    {% include header.html %}

    <div class="sections-wrapper">

        {% include navbar.html %}

        <div class="section-blocks mb-5">
            {% for section in site.data.sections %}
            <div id="section-{{ section.section }}" class="section-{{ section.section }} section">
                {% include sections/{{ section.section }}.html %}
            </div>
            {% endfor %}
        </div>
        <!--//sections-block-->
    </div>
    <!--//section-wrapper-->

    {% include footer.html %}

    {% for modal in site.data.modals %}
    {% include modal.html id=modal.id src=modal.src %}
    {% endfor %}

    <!-- firebase -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
        import { getAnalytics, logEvent  } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyAhAQMg1bqG2ey4C8cVEzx52R-mhOT2Hfo",
          authDomain: "aut-os-test.firebaseapp.com",
          projectId: "aut-os-test",
          storageBucket: "aut-os-test.appspot.com",
          messagingSenderId: "691409076442",
          appId: "1:691409076442:web:425b30290340490c7b65e3",
          measurementId: "G-9GYS038H0N"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        
        console.log('analytics', analytics);
        console.log('analytics2', getAnalytics());
        console.log('logEvent', logEvent);
        const analytics2 = getAnalytics();
        logEvent(analytics2, 'page_view');
        console.log(logEvent(analytics2, 'page_view'))
        console.log(logEvent(analytics))
        console.log(logEvent(analytics2))
      </script>
</body>
<script src="assets/js/calendar.js"></script>
<script src="assets/js/veiws.js"></script>
</html>